extends layout.pug

block appContent
        h1 you are now in the electronic category
        p You can choose the goods down below
        - const length = electronic.length
                
        - for (let x = 0; x < length; x++)
            li #{electronic[x]}           