extends layout.pug

block appContent
        h1 you are now in the food category
        p You can choose the goods down below
        - const length = food.length
                
        - for (let x = 0; x < length; x++)
            li #{food[x]}