extends ../layout.pug

block appContent
        h1 You can choose the category down below
        - const length = (Object.keys(categories)).length  
        - for (let x = 0; x < length; x++)
            br
            a(href=`/categories/${categories[x].category}`) #{categories[x].category}
            br
        br
        a(href='/products') All products