extends ../layout.pug

block appContent
        h1 you are now in the stuff category
        p You can choose the goods down below
        - const length = (Object.keys(database.stuff)).length
                
        - for (let x = 0; x < length; x++)
            br
            a(href=`/products/${x+6}`) id:#{x+6} #{Object.keys(database.stuff)[x]}
            br 